.objective {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 1cm;
    margin-bottom: 1cm;
}

.objective::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid black;
}

.objective-title {
    font-size: 14pt;
    font-weight: 700;
}

.description {
    font-family: inherit;
    font-size: 12pt;
    border: none;
    background-color: inherit;
    color: inherit;
    word-wrap: break-word;
}

textarea {
    resize: none;
    overflow: hidden;
}
