.experience {
    position: relative;
    margin-bottom: 1cm;
    padding-bottom: 0.1cm;
}

.experience::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid black;
}
