.job {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.1cm;
    position: relative;
    margin: 0.4cm 0;
}

.job-header {
    display: flex;
    position: relative;
    width: min-content;
    white-space: pre;
}

.job-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid black;
    opacity: 0.5;
}
.job-title {
    display: flex;
    font-size: 14pt;
    font-weight: 700;
    opacity: 1;
}
.job-title-field {
    font-size: 15pt;
    font-weight: 700;
    width: max-content;
}
.job-location {
    display: flex;
    font-size: 11pt;
    opacity: 0.5;
    font-weight: 600;
}

.job-location-city,
.job-location-state {
    color: black;
    width: max-content;
}
.job-location-state {
    padding-right: 2px;
}

.job-dates {
    display: flex;
    white-space: pre;
    font-size: 10pt;
    width: 5cm;
}

.job-description {
    border: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 12pt;
    margin-bottom: 0.2cm;
}
